/* Variables */

:root {
--basic-black: #000000;
--basic-dark: #363636;
--basic-white: #ffffff;
--basic-grey: #464646;
--basic-half-grey: #7e7e7e;
--basic-grey-light: #e5e5e5;
--special-yellow: #F7E296;
--special-green: #91C92F;
--special-yellow-dark: #F0C52E;
 }

/* Font  */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'), 
       url('../fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff'); 
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'), local('gilroy'),
       url('../fonts/Gilroy-Extrabold.woff2') format('woff2'), 
       url('../fonts/Gilroy-Extrabold.woff') format('woff'); 
}

@font-face {
  font-family: 'Gilroy-light';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy-light'), local('Gilroy-Light'),
       url('../fonts/Gilroy-Light.woff2') format('woff2'), 
       url('../fonts/Gilroy-Light.woff') format('woff'); 
}

/* ---------------GLOBAL---------------- */

a {
  text-decoration: none;
  color: var(--basic-black);
}

li {
  list-style-type: none; 
 }

input {
  border: 0px;
  }

select {
  border: 0px;
}   

header {
  background-color: var(--special-yellow);
  margin-top: 40px;
  margin-left: 140px;
  margin-right: 140px;
}

footer {
  background-color: var(--basic-dark);
  padding-top: 51px;
  padding-bottom: 63px;
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 0px;
}

button
{

border:none;

}

.button {
  background-color: var(--special-yellow-dark);
  width: 200px;
  height: 8px;
  font-family: Gilroy;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
}

.main_container {
  min-width: 1160px;
}

/* Hidden text */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* ----------------------LINK STYLE---------------------------- */

.link_style1:hover,
.link_style1:focus {
  color: var(--basic-black);
  opacity: 0.6;

 }
.link_style1:active {
  color: var(--basic-black);
  opacity: 0.3;
 }

.link_style2:hover,
.link_style2:focus {
  color: var(--basic-white);
  opacity: 1;

}
.link_style2:active {
  color: var(--basic-white);
  opacity: 0.3;
}


.link_style3:hover,
.link_style3:focus {
  color: var(--basic-white);
  opacity: 0.6;
}

.link_style3:active {
  color: var(--basic-white);
  opacity: 0.3;
}


/* -------------------------HEADER----------------------------- */

.search {
  background: rgba( 0,0,0,.0);
  opacity: 0,3;
}

.search_button {
  background: rgba( 0,0,0,.0);
}

.header_logo {
  position: absolute;
  width: 163px;
  height: 35px;
  left: 200px;
  top: 20px;
}

.header_block1 {
  display: grid;
  grid-template-columns: 70% 10% 10% 10%;
  padding-top: 44px;
  padding-right: 60px;
  padding-left: 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.header_block2 {
  display: grid;
  grid-template-columns: 61% 13% 13% 13%;
  padding-top: 50px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 50px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* -----------------------FOOTER------------------------  */

.footer_logo {
  
}

.footer_block1 {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.footer_block2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 39px;
}

.footer_block3 {
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 2px;
  padding-top: 6px;
  display: flex;
  justify-content: flex-end;

}

.footer_services {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.enter {
  color: var(--basic-white);
  text-align: end;
  opacity: 0.6;
}

.basket {
  color: var(--basic-white);
  text-align: end;
  opacity: 0.6;
}

.compare {
  color: var(--basic-white);
  text-align: end;
  opacity: 0.6;
}

.adress {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.phone {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  text-align: end;
}
.social {
  text-align: center;
}

.academy {
  text-align: end;
}

/* --------------------------INDEX PAGE---------------------------- */

.index_main {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 0px;
  margin-bottom: 0px;

}

/*---- SLIDER---- */

.slider_content {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 89px;
  margin-right: 47px;
}

.slider_img {
  padding-top: 17px;
}

.stiller_title {
  padding-top: 0px;
  padding-right: 82px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.stiller_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding-right: 35px;
}

.slider_buttons {
  display: grid;
  grid-template-columns: 85% 5% 5% 5%;
  padding-top: 60px;
  padding-right: 41px;
}

.slider_char {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 34%;
  padding-right: 69px;
}

.slider_char1 {
  padding-top: 60px;
  font-family: Gilroy-light;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider_char2 {
  font-family: Gilroy-light;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-bottom: 0px;
  padding-top: 15px;
}

/* ----PRODUCTS---- */

.products_grid {
  padding-top: 96px; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
  
}

.products_img {
  background-color: var(--special-yellow);
  width: 15%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.products_descript {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  padding-top: 38px;
  width: 160px;
}

/* -----SERVICES----- */

.main_services {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  padding-top: 49px;
  padding-right: 8px;
}

.services_button {
  background-color: var(--special-yellow-dark);
  width: 200px;
  height: 8px;
  font-family: Gilroy;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
}

.services_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;

}

.services_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  padding-top: 40px;
}

/* -----LOGO----- */
.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 90px; 
}


/* -----CONTACTS----- */

.contacts {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  margin-bottom: 0px;
  padding-bottom: 86px;
}

.contacts_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  padding-top: 50px;
}

.contacts_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  padding-top: 50px;
  padding-right: 128px;
}

.delivery {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  padding-top: 60px;
  padding-bottom: 70px;
}

.contacts_button {
  background-color: var(--special-yellow-dark);
  width: 200px;
  height: 8px;
  font-family: Gilroy;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
}

.map {
  margin-top: 40px;
  margin-bottom: 85px;
}

/* --------------------------INNER PAGE--------------------------- */


.title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  padding-left: 200px;
}

.inner_main {
  padding-top: 25px;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 0px;
  
}

.breadcrumbs {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  display: flex;
  justify-content: flex-start;
  padding-left: 200px;
  padding-top: 30px;
  margin-right: 0px;
}

.breadcrumbs_style:active {
  color: var(--basic-black);
  opacity: 0.1;
 }

.breadcrumbs_style:hover,
.breadcrumbs_style:focus {
  color: var(--basic-black);
  opacity: 0.6;
}


.filter_bold {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter_normal {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

}

.filter_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #DCDCDC;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 200px;
  padding-right: 193px;
  margin-bottom: 0px;
  margin-top: 0px;
  
}

.filter {
  background-color: var(--basic-grey-light);
  padding-left: 200px;
  padding-top: 70px;
  padding-right: 68px;
  margin-top: 0px;
  
}

.sort {
  display: flex;
  justify-content: space-around;
  background-color: var(--basic-grey-light);
  margin-right: 0px;
}

.sort_text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 0px;
  margin-top: 0px;
  align-self: center;
  text-align: center;

}

.sort_options {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  background: rgba( 0,0,0,.0);
} 

.inner_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 32px;
  padding-top: 70px;
  padding-bottom: 78px;
  margin-right: 140px;
}

.card {
  margin-left: 40px;
}

 
.card_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-right: 40px;
  margin-bottom: 48px;
}

.price {
  font-family: Gilroy-light;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: right;
}

.nav_pages {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 25px;
  background-color: var(--basic-grey-light);
  margin-left: 72px;
  margin-right: 140px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 78px;
}

.pages {
  text-align: center;
}

.back {
  text-align: start;
}

.forward {
  text-align: end;
}

.colors {
  display: grid;
  grid-template-columns: 1fr;
}

.bluetooth {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 14px;
}

