/* Variables */

:root {
--basic-black: #000000;
--basic-dark: #363636;
--basic-white: #ffffff;
--basic-grey: #464646;
--basic-half-grey: #7e7e7e;
--basic-grey-light: #e5e5e5;
--special-yellow: #F7E296;
--special-green: #91C92F;
--special-yellow-dark: #F0C52E;
 }

/* Font  */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'), 
       url('../fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff'); 
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'), local('gilroy'),
       url('../fonts/Gilroy-Extrabold.woff2') format('woff2'), 
       url('../fonts/Gilroy-Extrabold.woff') format('woff'); 
}

@font-face {
  font-family: 'Gilroy-light';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy-light'), local('Gilroy-Light'),
       url('../fonts/Gilroy-Light.woff2') format('woff2'), 
       url('../fonts/Gilroy-Light.woff') format('woff'); 
}

/* ---------------GLOBAL---------------- */

a {
  text-decoration: none;
  color: var(--basic-black);
}

li {
  list-style-type: none; 
 }

input {
  border: 0px;
  }

select {
  border: 0px;
}   

header {
  background-color: var(--special-yellow);
  margin-top: 40px;
  margin-left: 140px;
  margin-right: 140px;
}

footer {
  background-color: var(--basic-dark);
  padding-top: 51px;
  padding-bottom: 63px;
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 0px;
}


.button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 8px;
  background-color: #f0c52e;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.button:hover::after,
.button:focus::after {
  height: 100%;
}

.button:active {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
}

.button {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 9px 5px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 220px;
  margin-bottom: 20px;
}

/* Hidden text */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* ----------------------LINK STYLE---------------------------- */

.link_style1:hover,
.link_style1:focus {
  color: var(--basic-black);
  opacity: 0.6;

 }
.link_style1:active {
  color: var(--basic-black);
  opacity: 0.3;
 }

.link_style2:hover,
.link_style2:focus {
  color: var(--basic-white);
  opacity: 1;

}
.link_style2:active {
  color: var(--basic-white);
  opacity: 0.3;
}


.link_style3:hover,
.link_style3:focus {
  color: var(--basic-white);
  opacity: 0.6;
}

.link_style3:active {
  color: var(--basic-white);
  opacity: 0.3;
}


/* -------------------------HEADER----------------------------- */

.enter_img {
  background-image: url("../img/icon_user.png");
  display: block;
  background-repeat: no-repeat;
  padding-left:22px;
  background-position-y: 3px;
  margin-top: 10px;
}

.compare_img {
  background-image: url("../img/icon_chart.png");
  display: block;
  background-repeat: no-repeat;
  height:24px;
  padding-left:22px;
  width:13px;
  background-position-y: 4px;
  margin-top: 10px;
}

.basket_img {
  background-image: url("../img/icon_cart.png");
  display: block;
  background-repeat: no-repeat;
  height:24px;
  padding-left:22px;
  width:13px;
  background-position-y: 5px;
  margin-top: 10px;
}

input[type="search"]::placeholder {
  opacity: 0.3;
}

input[type="search"]:hover::placeholder {
  opacity: 0.6;
}

.search {
 padding-bottom: 10px;
 border: none;
 opacity: 1;
 background-color: var(--special-yellow);
 outline-width: 0;
}

.search:active {
  border: none;
  outline-width: 0;
}

.search:hover,
.search:focus {
  border-bottom: 2px solid black;
}

.search:focus + .search_button[type="submit"] {
  background-color: var(--special-yellow);
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid var(--basic-black);
}

.search:focus + .search_button[type="submit"]:hover {
  background-color: var(--basic-black);
}

.search:not(:focus) + .search_button[type="submit"] {
  visibility: hidden;
}

.search_button:hover,
.search_button:focus {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search_button:active {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search_img {
  background-image: url("../img/icon_search.png");
  display: block;
  background-repeat: no-repeat;
  height:32px;
  padding-left:22px;
  width:13px;
  background-position-y: 12px
}

.search_flex {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.header_logo {
  position: absolute;
  width: 163px;
  height: 35px;
  left: 200px;
  top: 20px;
}

.header_logo:hover,
.header_logo:focus {
  opacity: 0.6;
}

.header_logo:active {
  opacity: 0.3;
} 

.header_block1 {
  display: grid;
  grid-template-columns: 51% 25% 12% 12%;
  padding-top: 44px;
  padding-right: 60px;
  padding-left: 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.header_block11 {
  display: grid;
  grid-template-columns: 45% 30% 12% 12%;
  padding-top: 44px;
  padding-right: 60px;
  padding-left: 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.valentin {
  display: flex;
  flex-direction: row;
}

.exit {
  margin-left: 17px;
  opacity: 0.3;
  margin-top: 10px;
}

.header_block2 {
  display: grid;
  grid-template-columns: 54% 15% 15% 16%;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 50px;
}

.contact_title {
  text-align: right;
}

.header_block3 {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  height: 110px;
}

.white_block {
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  margin-left: 20px;
}

.white_number {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  transform: translate(10%, -20%);
}

.header_block_style{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.catalog_menu {
  position: absolute;
  top: 200px;
  z-index: 11;
  display: none;
  flex-wrap: wrap;

  width: auto;
  height: 196px;
  margin: 0;
  left: 140px;
  right: 140px;
  padding: 0;
  padding-left: 60px;
  padding-top: 25px;
  background: #f7e296;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 36px;
  font-weight: 300;
}

.menu_close {
  display: none;
}

.catalog_show {
  display: flex;
}

.catalog {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.main_catalog:hover .catalog_menu{
  display: flex;
}

.menu_style2 {
  margin-bottom: 20px;
  margin-top: 12px;
  margin-right: 61px;
}

.plus_img {
  margin-left: 16px;
  height: 18px;
}
/* -----------------------FOOTER------------------------  */

.footer_logo:hover,
.footer_logo:focus {
  opacity: 0.6;
}

.footer_logo:active {
  opacity: 0.3;
}

.logo_inst {
  opacity: 0.6;
  margin-right: 20px;
}

.logo_inst:hover,
.logo_inst:focus {
  color: var(--basic-black);
  opacity: 1;

 }
.logo_inst:active {
  color: var(--basic-black);
  opacity: 0.3;
 }

.logo_twit {
  opacity: 0.6;
  margin-left: 20px;
}

.logo_twit:hover,
.logo_twit:focus {
  color: var(--basic-black);
  opacity: 1;

 }
.logo_twit:active {
  color: var(--basic-black);
  opacity: 0.3;
 }

.logo_face {
  opacity: 0.6;
}

.logo_face:hover,
.logo_face:focus {
  color: var(--basic-black);
  opacity: 1;

 }
.logo_face:active {
  color: var(--basic-black);
  opacity: 0.3;
 }

 .rect_footer {
  background-color: var(--special-yellow-dark);
  width: 80px;
  height: 7px;
  align-self: center;
 }

.footer_enter_img {
  background-image: url("../img/icon_user_yellow.png");
  display: block;
  background-repeat: no-repeat;
  height:24px;
  width:13px;
  background-position-y: 3px; 
}

.footer_chart_img {
  background-image: url("../img/icon_chart_yellow.png");
  display: block;
  background-repeat: no-repeat;
  height:24px;
  width:13px;
  background-position-y: 3px; 
  padding-left: 11px;
}

.footer_basket_img {
  background-image: url("../img/icon_cart_yellow.png");
  display: block;
  background-repeat: no-repeat;
  height:24px;
  width:13px;
  background-position-y: 5px; 
  padding-left: 8px;
  
}

.footer_block1 {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.footer_block2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 39px;
}

.footer_block3 {
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 2px;
  padding-top: 6px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: 75%;
}

.footer_services {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
  margin-right: 36px;
}


.bg_img::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("img/icon_user.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.enter {
  color: var(--basic-white);
  text-align: center;
  opacity: 0.6;
  flex: 33%;
}

.basket {
  color: var(--basic-white);
  text-align: center;
  opacity: 0.6;
  flex: 33%;
  margin-left: 15px;
}

.compare {
  color: var(--basic-white);
  text-align: center;
  opacity: 0.6;
  flex: 33%;
}

.adress {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  opacity: 0.6;
}

.phone {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  text-align: end;
  opacity: 0.6;
}
.social {
  text-align: center;
}

.academy {
  text-align: end;
  background-image: url("../img/logo-html.png");
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  
}

/* --------------------------INDEX PAGE---------------------------- */

.index_main {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*---- SLIDER---- */

.slider_content {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 89px;
  margin-right: 47px;
  z-index: 10;
  position: relative;
  margin-top: -140px;
}

.slider_img {
  padding-top: 17px;
}

.stiller_title {
  padding-top: 50px;
  padding-right: 82px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.stiller_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding-right: 35px;
}

.slider_buttons {
  display: grid;
  grid-template-columns: 85% 5% 5% 5%;
  padding-top: 60px;
  padding-right: 41px;
  align-items: center;
}

.slider_btn {
  width: 60%;
}

.slider_radio {
  border: 1px solid var(--basic-black);
  border-radius: 12px;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider_dot {
  border: 1px solid var(--basic-black);
  border-radius: 6px;
  width: 6px;
  height: 6px;
  align-self: center;
  justify-self: center;
}

.slider_char {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 34%;
  padding-right: 69px;
  margin-top: -60px;
}

.slider_char1 {
  padding-top: 60px;
  font-family: Gilroy-light;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider_char2 {
  font-family: Gilroy-light;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-bottom: 0px;
  padding-top: 15px;
}

/* ----PRODUCTS---- */

.products_grid {
  margin-top: 50px; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}

.products_cell {
  width: 160px;
}

.products_img {
  background-color: var(--special-yellow);
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.products_descript {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  padding-top: 38px;
  width: 160px;
}

/* -----SERVICES----- */

.main_services {
  display: grid;
  grid-template-columns: 25% 75%;
  padding-top: 84px;
  padding-right: 8px;
  padding-bottom: 68px;
}

.services_bg {
  background-color: var(--basic-grey-light);
  z-index: -1;
  position: absolute;
  width: 100%;
  height:288px;
  margin-left: -140px;
  margin-top: 80px;
}

.button_grid {
  border-right: 7px solid var(--basic-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
}

.flex_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -60px;
}

.delivery_def {
  display: block;
  margin-left: 116px;
}

.delivery1 {
  display: none;
}

.delivery_show {
  display: block;
  margin-left: 116px;
}

.quality {
  display: none;
}

.quality_show {
  display: block;
  margin-left: 116px;
}

.credit {
  display: none;
}

.credit_show {
  display: block;
  margin-left: 116px;
}


.service_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 8px;
  background-color: #f0c52e;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.service_btn:hover::after,
.service_btn:focus::after {
  height: 100%;
}

.service_btn:active {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
}

.service_btn {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 9px 5px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 220px;
  margin-bottom: 20px;
}

.service_btn1 {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 9px 5px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: var(--special-yellow);
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 99%;
  margin-bottom: 20px;
  background-color: var(--basic-black);
}

.services_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-right: 56px;
}

/* -----LOGO----- */
.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 90px; 
}

.logo1::before {
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../img/logo1_hover.png");
  background-repeat: no-repeat;
  margin-right: 40px;
}

.logo1:hover::before {
  background-image: url("../img/logo-1.png");
}

.logo2::before {
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../img/logo2_hover.png");
  background-repeat: no-repeat;
  margin-right: 40px;
}

.logo2:hover::before {
  background-image: url("../img/logo-2.png");
}

.logo3::before {
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../img/logo3_hover.png");
  background-repeat: no-repeat;
  margin-right: 40px;
}

.logo3:hover::before {
  background-image: url("../img/logo-3.png");
}

.logo4::before {
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../img/logo4_hover.png");
  background-repeat: no-repeat;
}

.logo4:hover::before {
  background-image: url("../img/logo-4.png");
}


/* -----CONTACTS----- */

.contacts {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  margin-bottom: 0px;
  margin-bottom: 86px;
}

.contacts_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

.contacts_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin-top: 40px;
  margin-right: 128px;
}

.rect_contacts {
  background-color: var(--basic-black);
  width: 80px;
  height: 7px;
}

.delivery {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-top: 60px;
  margin-bottom: 70px;
}

.delivery_img {
  background-image: url("../img/Ellipse3.png");
  display: block;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position-y: 10px;
}

.modal_map {
  position: fixed;
  display: none;
  color: #000000;
  background-color: #f8f3f0;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 994px;
  height: 593px;
  z-index: 2;
  margin: auto;
  justify-content: flex-end;
}

.modal_map_show {
  display: flex;
}

.modal_map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal_map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.map_close_button {
  background-color: var(--special-yellow-dark);
  width: 55px;
  height: 55px;
  border-radius: 55px;
  border-width: 0px;
  background-image: url("../img/icon_cross.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  z-index: 5;
  position: absolute; 
  margin-top: 15px;
  margin-left: -15px;
}

.map_close_button:hover,
.map_close_button:focus {
 opacity: 1;
}

.map_close_button:active {
  opacity: 0.3;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.15);
}

.modal_show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal_error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.form_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 80px;
}

.form_row1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 27px;
  margin-right: 80px;
}

.form_row2 {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
}

.button_form {
  border: 0px solid var(--basic-white);
  background-color: var(--basic-white);
}

.form_col {
  flex: 1;
  margin-right: 20px;
}

.form_col1 {
  flex: 1;
}

.form_close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.form_bold {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.form_normal {
  font-family: Gilroy-light;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.form_bg1 {
  background-color: #F2F2F2;
  height: 50px;
}

.form_bg2 {
  background-color: #F2F2F2;
  width: 100%;
  height: 167px;
  border-width: 0px;
  padding: 17px 20px;
  resize: none;
}

.close_button {
  background-color: var(--special-yellow-dark);
  width: 55px;
  height: 55px;
  border-radius: 55px;
  border-width: 0px;
  background-image: url("../img/icon_cross.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
}

.close_button:hover,
.close_button:focus {
 opacity: 1;
}

.close_button:active {
  opacity: 0.3;
}


.modal_write {
  top: 20px;
  bottom: auto;
  width: 960px;
  padding: 20px 20px 69px 100px;
  z-index: 1;
}



.map {
  margin-top: 30px;
  margin-bottom: 40px;
}

/* --------------------------INNER PAGE--------------------------- */


.title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  padding-left: 200px;
}

.inner_main {
  padding-top: 25px;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 0px;
  
}
.breadcrumbs_grid {
  display: flex;
  justify-content: flex-start;
  padding-left: 200px;
  padding-top: 30px;
  
}

.breadcrumbs {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3; 
}

.breadcrumbs_style {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3; 
  margin-right: 16px;
}

.breadcrumbs_link {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
}

.breadcrumbs_style:active {
  color: var(--basic-black);
  opacity: 0.1;
 }

.breadcrumbs_style:hover,
.breadcrumbs_style:focus {
  color: var(--basic-black);
  opacity: 0.6;
}

.arrow {
  background-image: url("../img/icon_arrow_nav.png");
  display: block;
  background-repeat: no-repeat;
  padding-left:22px;
  background-position-y: 4px;
}

.filter_bold {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-bottom: 32px;
}

.filter_normal {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

}

.filter_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #DCDCDC;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 200px;
  padding-right: 193px;
  margin-bottom: 0px;
  margin-top: 0px;
  
}

.filter {
  background-color: var(--basic-grey-light);
  padding-left: 200px;
  padding-top: 70px;
  padding-right: 68px;
  margin-top: 0px;
  
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: var(--basic-grey-light);
}

.sort_list a {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.sort_list a:hover,
.sort_list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort_list a:active {
  color: rgba(0, 0, 0, 1);
}

.current a {
  color: #000000;
}

.sort_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
  width: 500px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: 55px;
  list-style: none;
}

.sort_list li {
  margin-right: 29px;
  font-family: "Open Sans";
  font-size: 14px;
}

.sort_list_min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  width: 42px;
  height: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 144px;
}

.max,
.min {
  position: relative;
  width: 11px;
  height: 10px;
}

.max a::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.min a::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.max a:hover::after,
.min a:hover::after,
.max a:focus::after,
.min a:focus::after {
  opacity: 0.4;
}

.max a:active::after,
.min a:active::after {
  opacity: 1;
}

.sort_text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 0px;
  margin-top: 0px;
  align-self: center;
  text-align: center;
  margin-left: 72px;
}

.sort_options {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  background: rgba( 0,0,0,.0);
} 

.inner_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 32px;
  padding-top: 70px;
  padding-bottom: 78px;
  margin-right: 140px;
}

.product_img:hover .card_hover{
  display: block;
}

.card_hover {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  text-align: center;

  width: 360px;
  height: 207px;
  padding-top: 173px;

  padding-left: 0;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 760px;
  margin-top: 70px;
  margin-left: 72px;
}

.catalog_list {
  width: 760px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.catalog_item_image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;

  width: 360px;
  height: 380px;
  margin: 0;
  margin-bottom: 33px;
  background-color: #ececec;
}

.catalog_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;

  position: relative;

  width: 360px;
  min-height: 465px;
  margin-bottom: 42px;
  margin-right: 40px;
}

.catalog_item:nth-child(2n) {
  margin-right: 0px;
}

.device {
  margin: 0;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: normal;
  font-weight: 800;
  text-transform: none;
  color: #000000;
}

.catalog_item a{
  width: 260px;
  margin: 0;
  padding: 0;
}

.price {
  width: 100px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: normal;
  font-weight: 300;
  color: #464646;
  text-align: right;
}

.catalog_hover {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  text-align: center;

  width: 360px;
  height: 207px;
  padding-top: 173px;

  padding-left: 0;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog_item:hover .catalog_hover {
  display: block;
}

.new {
  position: relative;
}

.new::before {
  content: "";
  top: 28px;
  right: 27px;
  z-index: 3;
  position: absolute;
  width: 60px;
  height: 61px;
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
}

.catalog_cart {
  width: 200px;

  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.filter button {
  width: 200px;
  margin-top: -30px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.filter button:hover,
.catalog_cart:hover,
.filter button:focus,
.catalog_cart:focus {
  outline: none;
}

.filter button:active,
.catalog_cart:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
  outline: none;
}

.catalog_compare {
  font-size: 13px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 0;
  background-color: inherit;
  margin-top: 12px;
  font-family: "Open Sans";
}

.catalog_compare:hover,
.catalog_compare:focus {
  color: #000000;
  outline: none;
}

.catalog_compare:active {
  color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.catalog_hover,
.pagination_menu,
.pagination_item {
  list-style: none;
}



.card {
  margin-left: 40px;
}

 
.card_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-right: 40px;
  margin-bottom: 48px;
}

.price {
  font-family: Gilroy-light;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: right;
}

.nav_pages {
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-grey-light);
  margin-bottom: 78px;
}


.back {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: start;
  display: block;
  padding: 25px 30px;
}

.back:hover,
.back:focus {
  background-color: #d9d9d9;
}

.back:active {
  opacity: 0.3;
}

.pages {
  display: flex;  
  align-items: center;
}


.page_1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 20px;
  opacity: 1;
} 

.page_1:hover,
.page_1:focus {
  opacity: 0.6;
}

.page_1:active {
  opacity: 1;
}

.page_2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}

.page_2:hover,
.page_2:focus {
  opacity: 0.6;
}

.page_2:active {
  opacity: 1;
}

.page_3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
  margin-left: 20px;
}

.page_3:hover,
.page_3:focus {
  opacity: 0.6;
}

.page_3:active {
  opacity: 1;
}

.forward {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: end;
  display: block;
  padding: 25px 30px;
}

.forward:hover,
.forward:focus {
  background-color: #d9d9d9;
}

.forward:active {
  opacity: 0.3;
}

.colors {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 40px;
  padding-left: 0px;
}

.border_top {
  border-top: 2px solid black;
  padding-top: 16px;
  margin-bottom: 50px;
}

.multiselect {
  padding-bottom: 38px;
}

.range_controls {
  position: relative;
  margin-top: 15px;
  margin-bottom: 8px;
}

.range_controls .scale {
  height: 2px;
  background: var(--basic-black);
  opacity: 0.2;
}

.range_controls .bar {
  width: 55%;
  height: 2px;
  background: var(--special-green);
}

.range_toggle {
  position: absolute;
  top: -10px;

  width: 20px;
  height: 23px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.range_toggle:active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.range_toggle_min {
  left: 0;
}

.range_toggle_max {
  left: 55%;
}

fieldset {
  border:0 none;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.check {
  padding-left: 24px;
  padding-bottom: 20px;
  margin-right: 20px;
}
.check_input {
  position: absolute;
  -webkit-appearance: none;
}

.text_type {
  margin-left: 20px;
} 

.check_box {
  margin-left: -25px;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../img/checkbox-off.svg);
  margin-right: 20px;
}

.check_input:checked + .check_box {
  background-image: url(../img/checkbox-on.svg);
}

.check_input:hover + .check_box {
  opacity: 0.6;
}

.check_input:focus + .check_box {
  opacity: 0.6;
}

.check_input:disabled + .check_box {
  opacity: 0.25;
}




input[type="radio"]:disabled { opacity: 0.25; }

input[type="radio"]:hover,
input[type="radio"]:focus {
  opacity: 0.6;
}

input[type="radio"]:checked {
  opacity: 1;
}

input[type="radio"]:checked:hover {
  opacity: 0.6;
}



input[type='radio'] {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: none;
  border: 2px solid var(--basic-black);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='radio']:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: var(--basic-black);
  
}

input[type="radio"]:checked {
border-color: var(--basic-black);
}

.bluetooth {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 14px;
  padding-left: 0px;
}

.radio_style {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

